.buttons {
	display: flex;
    width: 100%;
	justify-content: space-between;
	
	button {
		background: transparent;
		color: #fff;
		border: 0;
		padding: 15px 20px;
		border-radius: 0;

		&.ON {
			background: #1d1d1d;
		}
	}
}