.calendar-slide {
    max-height: 420px;

    .vc-container.vc-is-dark {
        background: transparent;
        border-color: transparent;

        .vc-title {
            font-size: 20px;
        }

        .vc-weekday {
            font-size: 15px;
        }

        .vc-day-box-center-center {
            height: 40px;

            .vc-highlight {
                width: 30px;
                height: 30px;
            }

            .vc-day-content {
                font-size: 20px;
            }
        }
    }
}