body {
    background: #131313;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    div {        
        
    }

    input {
        background: transparent;
        border: solid 1px #fff;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        width: 50px;
    }
}