.temp-section {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    span {
        margin: 5px 0;
    }

    .temps {
        display: flex;
        justify-content: space-between;

        .today {
            display: flex;
            align-items: center;
            .current {
                font-size: 40px;
                margin-right: 10px;
            }
            .humidity {
                font-size: 40px;
                margin: 0 5px;
            }
        }

        .all {
            display: flex;
            text-align: right;

            div {
                margin-left: 5px
            }
        }
    }
}