.temp-hum-slide {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    
    p {
        margin: 0;
    }

    .temps-chart, .hums-chart {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}