.temp-hum-slide {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    .temps-chart, .hums-chart {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}