@import 'variables';

.temp-hum-slide {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: $slide_height;

    .current-temp-hum {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        & > div {
            display: flex;
            margin-bottom: 20px;            
            span {
                margin-right: 10px;
                font-size: 2em;
            }
        }
    }
    
    p {
        margin: 0;
    }

    .temps-chart, .hums-chart {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}