.weather-slide {
    position: relative;
    height: 350px;
}
.chart {
	position: absolute;
	bottom: 0;
	left: 0;
    width: 100%;
}
.weather-text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
    h1, p {
        margin: 0;
    }
}